<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="reviewpage.css">
    <script src="./reviewpage.js"></script>
</head>

<body>
    <div id="page1">
        <div id="header">
            <img id="logo" alt="" src="../../../../../로고.jpg" />
            <div id="reviewheader">후기작성</div>
            <div id="auth" style="text-align: end;">
                <button id = "authbutton" onclick="location.href='../loginpage/loginpage.html'">로그인</button>
                <button id = "authbutton" onclick="location.href='../registerpage/registerpage.html'">회원가입</button>
                <button id = "authbutton" onclick="location.href='../mystoragepage/mystoragepage.html'">My Storage</button>
            </div>
            
        <hr size="5px" color="pink">
        </div>




    </div>
</body>