{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}">
</head>

<body>
    <div id="page1">
        <div id="header">
            <a href="{% url 'main' %}"><img id="logo" alt="My.Cl 로고" src="{% static 'img/로고.jpg' %}" /></a>
        </div>
        <div id="auth" style="text-align: end;">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><input type="button" id="authbutton" value="로그아웃"></a>
            <a href="{% url 'storage' user_id=user.id %}"><input type="button" id="authbutton"
                    value="{{ user.username }}님 마이페이지"></a>
            {% else %}
            <a href="{% url 'login' %}"><input type="button" id="authbutton" value="로그인"></a>
            <a href="{% url 'signup' %}"><input type="button" id="authbutton" value="회원가입"></a>
            {% endif %}
        </div>
        <hr size="5px" color="pink">

        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <script>
                alert('{{message}}')
            </script>
            {% endfor %}
            {% endif %}
            <table style="width: 100%; margin-top : 0px; margin-left:auto; margin-right: auto;">
                <tr style="vertical-align: top">
                    <td style="width:50%; border-right:5px solid #fdb0b0; text-align: center;">
                        <class id="components">
                            <div style="margin-top : 10px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">학년
                            </div>
                            <div id="gradebutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="gbutton1" name="grade" value="고1" /><label for="gbutton1"
                                    style="margin-right: 30px;">고등 1학년</label>
                                <input type="radio" id="gbutton2" name="grade" value="고2" /><label for="gbutton2"
                                    style="margin-right: 30px;">고등 2학년</label>
                                <input type="radio" id="gbutton3" name="grade" value="고3·N수" /><label for="gbutton3">고등
                                    3학년</label>
                            </div>
                        </class>

                        <class id="components">
                            <div style="margin-top:30px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">과목
                            </div>
                            <div id="subjectbutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="sbutton1" name="subject" value="국어" /><label for="sbutton1"
                                    style="margin-right: 20px; width:50px">국어</label>
                                <input type="radio" id="sbutton2" name="subject" value="수학" /><label for="sbutton2"
                                    style="margin-right: 20px; width:50px">수학</label>
                                <input type="radio" id="sbutton3" name="subject" value="영어" /><label for="sbutton3"
                                    style="margin-right: 20px; width:50px">영어</label>
                                <input type="radio" id="sbutton4" name="subject" value="과학" /><label for="sbutton4"
                                    style="margin-right: 20px; width:50px">과탐</label>
                                <input type="radio" id="sbutton5" name="subject" value="사회" /><label for="sbutton5"
                                    style="margin-right: 20px; width:50px">사탐</label>
                                <input type="radio" id="sbutton6" name="subject" value="한국사" /><label for="sbutton6"
                                    style="width:50px">한국사</label>
                            </div>
                        </class>

                        <class id="components">
                            <div style="margin-top:30px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">등급
                            </div>
                            <div id="achievementbutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="abutton1" name="achivement" value="onetotwo" /><label for="abutton1"
                                    style="margin-right: 30px;">1-2등급</label>
                                <input type="radio" id="abutton2" name="achivement" value="threetofour" /><label for="abutton2"
                                    style="margin-right: 30px;">3-4등급</label>
                                <input type="radio" id="abutton3" name="achivement" value="fivetosix" /><label for="abutton3"
                                    style="margin-right: 30px;">5-6등급</label>
                                <input type="radio" id="abutton4" name="achivement" value="seventonine" /><label
                                    for="abutton4">7-9등급</label>
                            </div>
                        </class>

                        <class id="components">
                            <div style="margin-top:30px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">
                                강의사이트
                            </div>
                            <div id="pricebutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="pbutton1" name="site" value="ebsi" /><label for="pbutton1"
                                    style="margin-right: 30px;">EBSi</label>
                                <input type="radio" id="pbutton2" name="site" value="megastudy" /><label for="pbutton2"
                                    style="margin-right: 30px;">메가스터디</label>
                                <input type="radio" id="pbutton3" name="site" value="etoos" /><label
                                    for="pbutton3">이투스</label>
                            </div>
                        </class>

                    </td>
                    <td style="width:50%; text-align: center;">
                        <class id="components">
                            <div style="margin-top : 10px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">
                                잡담양
                            </div>
                            <div id="chatbutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="cbutton1" name="tag_jobdam" value="low" /><label for="cbutton1"
                                    style="margin-right: 30px;">없음</label>
                                <input type="radio" id="cbutton2" name="tag_jobdam" value="medium" /><label
                                    for="cbutton2" style="margin-right: 30px;">적당히</label>
                                <input type="radio" id="cbutton3" name="tag_jobdam" value="high" /><label
                                    for="cbutton3">많음</label>
                            </div>
                        </class>

                        <class id="components">
                            <div style="margin-top:30px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">필기양
                            </div>
                            <div id="notebutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="nbutton1" name="tag_pilgi" value="low" /><label for="nbutton1"
                                    style="margin-right: 20px; ">없음</label>
                                <input type="radio" id="nbutton2" name="tag_pilgi" value="medium" /><label
                                    for="nbutton2" style="margin-right: 20px; ">적당히</label>
                                <input type="radio" id="nbutton3" name="tag_pilgi" value="high" /><label
                                    for="nbutton3">많음</label>
                            </div>
                        </class>

                        <class id="components">
                            <div style="margin-top:30px; margin-bottom: 5px; font-size: 25px; font-weight: bolder;">진도
                            </div>
                            <div id="progressbutton" style="justify-content: center; display: inline-block;">
                                <input type="radio" id="probutton1" name="tag_jindo" value="low" /><label
                                    for="probutton1" style="margin-right: 30px;">천천히</label>
                                <input type="radio" id="probutton2" name="tag_jindo" value="medium" /><label
                                    for="probutton2" style="margin-right: 30px;">적당히</label>
                                <input type="radio" id="probutton3" name="tag_jindo" value="high" /><label
                                    for="probutton3">빠름</label>
                            </div>
                        </class>

                    </td>
                </tr>
            </table>

            <input type='submit' id="submitbutton" value="강의 추천 받기">
            <div id="goreview" style="text-align: end; margin-right: 10px;">
                <a href="{% url 'review' %}"><input type="button" id="goreviewbutton" value="강의 후기 작성하기"></a>
            </div>
        </form>
    </div>
</body>

</html>