{% load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/recommendationpage.css' %}">
</head>

<body>
    <div id="page1">
        <div id="header">
            <a href="{% url 'main' %}"><img id="logo" alt="My.Cl 로고" src="{% static 'img/로고.jpg' %}" /></a>
            <div id="recheader">강의 추천</div>
            <div id="auth" style="text-align: end;">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><input type="button" id="authbutton" value="로그아웃"></a>
                <a href="{% url 'storage' user_id=user.id %}"><input type="button" id="authbutton"
                        value="{{ user.username }}님 마이페이지"></a>
                {% else %}
                <a href="{% url 'login' %}"><input type="button" id="authbutton" value="로그인"></a>
                <a href="{% url 'signup' %}"><input type="button" id="authbutton" value="회원가입"></a>
                {% endif %}
            </div>
        </div>

        <hr size="5px" color="pink">


        <table style="width: 100%; margin-top : 0px; margin-left:auto; margin-right: auto;">
            <tr style="vertical-align: top">
                <td style="width:50%; border-right:5px solid #fdb0b0; text-align: center;">
                    <div id="tag_box"
                        style="justify-content: center; display: inline-block; margin-bottom: 20px; margin: top 20px;">
                        <p>
                            <div id="tag_info">강의 사이트 : {{cho_tag.site}}</div>
                            <div id="tag_info">잡담양 : {{cho_tag.jobdam}}</div>
                            <div id="tag_info">필기양 : {{cho_tag.pilgi}}</div>
                            <div id="tag_info">진도 : {{cho_tag.jindo}}</div>
                        </p>
                    </div>

                </td>
                <td style="width:50%; text-align: center;">
                    {% for post in posts %}
                    <div id="box_model"
                        style="justify-content: center; display: inline-block; margin-bottom: 20px; margin: top 20px;">
                        <a href = "{{post.4}}" id="lec_title">{{ post.0 }}</p></a>
                        <p id="lec_info"> {{post.1}} 선생님 </p>
                    </div>

                    {% endfor %}


                </td>
            </tr>
        </table>



        {% if posts.has_previous %}
        <a href="?page=1" id="first">맨 처음 결과</a>
        <a href="?page={{posts.previous_page_number}}" id="prev">이전 결과</a>
        {% endif %}
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}" id="next">다음 결과</a>

        {% endif %}

    </div>
</body>

</html>