{% load static%}

<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reviewpage.css' %}">
</head>

<body>
    <div id="page1">
        <div id="header">
            <a href="{% url 'main' %}"><img id="logo" alt="My.Cl 로고" src="{% static 'img/로고.jpg' %}" /></a>
            <div id="reviewheader">후기작성</div>
            <div id="auth" style="text-align: end;">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><input type="button" id="authbutton" value="로그아웃"></a>
                <a href="{% url 'storage' user_id=user.id %}"><input type="button" id="authbutton"
                        value="{{ user.username }}님 마이페이지"></a>
                {% else %}
                <a href="{% url 'login' %}"><input type="button" id="authbutton" value="로그인"></a>
                <a href="{% url 'signup' %}"><input type="button" id="authbutton" value="회원가입"></a>
                {% endif %}
            </div>
        </div>


        <form action="{% url 'review' %}" method='GET'>
            <div>강의 사이트를 선택해주세요.</div>
            <select name="site" id="id_site">
                <option value="ebsi"> EBSi</option>
                <option value="mega"> 메가스터디</option>
                <option value="etoos"> 이투스</option>
            </select>
            <input type="text" name="search_key" value="{{ search_key }}">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Search">
            </span>

        </form>


        <div id="list_search">
            {% for post in post_list %}
            <td>{{post.title}}</td>>
            {% endfor %}
        </div>




    </div>
</body>