{% load static%}

<!DOCTYPE html> 
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/reviewpage.css' %}">
</head>

<body>
    <div id="page1">
        <div id="header">
            <a href="{% url 'main' %}"><img id="logo" alt="My.Cl 로고" src="{% static 'img/로고.jpg' %}"/></a>
            <div id="reviewheader">후기작성</div>
            <div id="auth" style="text-align: end;">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><input type="button" id="authbutton" value="로그아웃"></a>
                <a href="{% url 'storage' %}"><input type="button" id="authbutton" value="{{ user.username }}님 마이페이지"></a>
                {% else %}
                <a href="{% url 'login' %}"><input type="button" id="authbutton" value="로그인"></a>
                <a href="{% url 'signup' %}"><input type="button" id="authbutton" value="회원가입"></a>
                {% endif %}
            </div>
            
        <hr size="5px" color="pink">

        <!-- 강의 리스트 -->
        <table class="table">
            <thead>
                <th>강의명</th>
                <th>선생님</th>
                <th>과목</th>
                <th>학년</th>
                <th>후기 작성</th>
            </thead>
            <tbody>
                {% for l in list %}
                <tr>
                    <td><a href="{{ l.link }}">{{l.title}}</a></td>
                    <td>{{l.teacher}}</td>
                    <td>{{l.subject}}</td>
                    <td>{{l.grade}}</td>
                    <td>
                        <button>후기 작성</button>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        </div>




    </div>
</body>