@font-face {
    font-family: '어그로';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 10px;
}
#page1{
    width: 80%;
    margin: auto;
}

#logo{
    width: auto;
    height: 150px;
    text-align: center;
}

#header{
    text-align: start;
    margin-left: 20px;
}
#reviewheader{
    font-family: '어그로';
    font-weight: bolder;
    font-size: 25px;
    color:#000;
    margin-left:2%;
}


#authbutton{
    color:#3ecac7;
    background-color: white;
    border : 0px;
    margin-right: 10px;
    font-family: '어그로';
    font-size: 17px;
    font-weight: bold;
}

#authbutton:hover{
    text-shadow: 1px 1px 1px #000;
}

table, td{
    text-align: center;
}

#lec_title{
    margin: top 20px bottom 40px;
    font-family: '어그로';
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: #fdb0b0;
}

a:link {
    color : #fdb0b0;
    text-decoration: none;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
a:visited {
   color : #3ecac7;
   text-decoration: underline;
   text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
a:hover {
    color : #3ecac7;
    text-decoration: underline;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


#components{
    font-family: '어그로';
    font-weight: bold;
}

input[type=radio]{
    display: none;
    margin:10px;
}  

input[type = radio]:empty+label{
    border: 5px solid #fdb0b0;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    float: left;
    border-radius: 12px;
    justify-content: center;
    background-color: white;
    font-family: '어그로';
    font-weight: bold;
    
}

input[type = radio]:hover+label{
    border:5px solid #3ecac7;
}

input[type = radio]:checked+label{
    border:5px solid #3ecac7;
} 


#submitbutton{
    border:5px solid #fdb0b0;
    display: flex;
    align-items: center;
    background-color: #fdb0b0;
    font-family: '어그로';
    font-weight: bold;
    font-size: 25px;
    color:white;
    text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000;
    text-align: center;
    justify-content: center;
    padding : 5px;
    width:200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#submitbutton:hover{
    background-color: white;
    border: 5px solid #fdb0b0;
    vertical-align: middle;
}

#submitwbutton{
    border:5px solid #3ecac7;
    background-color: #3ecac7;
    font-family: '어그로';
    font-weight: bold;
    font-size: 18px;
    color:white;
    text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000;
    text-align:center;
    justify-content: center;
    padding : 5px;
    width:200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}




#lec_comment{
	width: 400px;;
    height: 500px;
	border:2px solid #aaa;
	border-radius:4px;
	margin: 8px 0;
	outline: none;
	padding:8px;
	box-sizing: border-box;
	transition:.3s;
    vertical-align: text-top;
}

