@font-face {
    font-family: '어그로';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 10px;
}
#page1{
    width: 80%;
    margin: auto;
}

#logo{
    width: auto;
    height: 150px;
    text-align: center;
}
#header{
    text-align: start;
    margin-left: 20px;
}
#reviewheader{
    font-family: '어그로';
    font-weight: bolder;
    font-size: 25px;
    color:#000;
    margin-left:2%;
}

#authbutton{
    color:#3ecac7;
    background-color: white;
    border : 0px;
    margin-right: 10px;
    font-family: '어그로';
    font-size: 17px;
    font-weight: bold;
}

#authbutton:hover{
    text-shadow: 1px 1px 1px #000;
}